*{
    box-sizing: border-box;
}

.container{
    width:400px;
    background: rgb(195, 51, 51);
    padding: 18px;
    border-radius: 18px;
    box-shadow:10px 8px 5px rgb(48, 23, 23);
}
body{
    background: rgb(227, 159, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

textarea{
    width: 100%;
    height: 160px;

}

.counterContainer{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
}

.counterContainer p{
    font-size: 17px;
}

.totalCounter{
    color: white;
}

.remainedCounter{
    color: white;
}